


#workplace {
    padding-top: 2vh;
    padding-bottom: 2vh;
    /*background-color: lightskyblue;
    border: 2px solid black;
    border-radius: 6px;*/
    line-height: 40px;
    text-align: center;
}

/*
[class*="col-"], footer {
    background-color: lightskyblue;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}
*/


#style_container {
    margin-top: 30vh;
}


.itineraire {

    background-color: rgb(43, 97, 142);
    text-align: center;
    border-radius: 6px;

}
