
/*[class*="col-"] {

    background-color: rgb(59, 120, 181);
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}*/

h1 {
    margin-bottom: 5vh;
}

#workplace {
    padding: 3vh;
    background-color: rgb(59, 120, 181);
    //border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}

#style_container{
    margin-top: 13vh;
}

.form_inside {
    margin-top: 3vh;
}


select {
    margin-bottom: 3vh;
}